
body {
    margin: 0;
    font-family: Arial;
}

/*использование grid в секции инстаграм*/
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 10px;
    max-width: 2500px;
    margin: 0 auto;
}

h1 {
    font-size: 70px;
    font-family: Arial;
}

p{
    font-size: 28px;
    font-family: Arial;
}

hr {
    color: black;
    width: 7%;
}

.grid img {
    width: 100%;
    height: auto;
    display: block;
}

.insta {
    margin: 200px;
}

.text { 
    margin-bottom: 110px;
    margin-top: 70px;
}

/*главная*/
.main {
    min-width: 2500px;
    margin: 0 auto;
    padding: 20px;
}

.main header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: #f2f2f2;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 30px;
}

nav ul {
    display: flex;
    list-style: none;
    font-size: 24px;
}

nav ul li {
    margin: 0 10px;
}

.hero {
    position: relative;
    height: 500px;
    background-color: #f2f2f2;
    overflow: hidden;
}

.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #77c200;
    z-index: -1;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
}

.hero-text h1 {
    text-align: left;
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 24px;
    margin-bottom: 40px;
}

.cta {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
}

/*программы*/

.product-grid {
    display: grid;
    grid-template-columns: 800px 800px 800px;
    grid-row-gap: 70px;
    margin: 0 auto;
    padding: 100px;
}

.programs {
    margin: 0 auto;
    max-width: 2500px;
}

/*формы*/
.forms {
    padding: 100px;
    padding-left: 500px;
    padding-right: 500px;
    background-color: #282828;
    color: white;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column-1 {
    padding-left: 35px;
    padding-right: 35px;
}

.column-2 {
    padding-left: 35px;
    padding-right: 35px;
}

.forms button {
    font-size: 29px;
    color: white;
    padding: 25px;
    padding-left: 55px;
    padding-right: 55px;
    border-radius: 50px;
    border-color: white;
    background-color: #282828;
}

.forms h1 {
    padding-bottom: 70px;
    color: #BFE142;
}

.forms p {
    font-size: 23px;
}

label {
    font-size: 23px;
    padding: 10px;
}

.resized {
    color: white;
    width: 550px;
    background-color : #282828;
    border: none;
    border-bottom: 2px solid white;
    }    

textarea {
    resize: none;
    width: 550px;
    height: 190px;
}

input {
    width: 28px; 
    height: 28px;
}

/*подвал*/
.footer {
    display: flex;
    justify-content: center; 
    align-items: center;
    min-width: 2500px;
    background-color: black;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
}

.footer table {
    width: 70%;
    padding-top: 50px;
}

table tbody tr td {
    vertical-align: top;
    font-size: 24px;
    width: 200px;
    height: 200px;
  }