
body {
    margin: 0;
    font-family: Segoe UI;
}

/*использование grid в секции инстаграм*/
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 10px;
    max-width: 2500px;
    margin: 0 auto;
    font-family: Segoe UI;
}

h1 {
    font-size: 70px;
    font-family: Segoe UI;
}

p{
    font-size: 28px;
    font-family: Segoe UI;
}

hr {
    color: black;
    width: 7%;
}

.grid img {
    width: 100%;
    height: auto;
    display: block;
}

.insta {
    margin-bottom: 100px;
}

.text { 
    margin-bottom: 110px;
    margin-top: 70px;
}

/*главная*/
.main {
    max-width: 2500px;
    min-height: 1350px;
    margin: 0 auto;
    padding: 20px;
    font-family: Segoe UI;
    background-image:url('главная.png');
}

.main header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

nav ul {
    display: flex;
    list-style: none;
    font-size: 24px;
}

nav ul li {
    margin: 0 10px;
    margin-left: 30px;
    font-size: 30px;
}

.hero {
    position: relative;
    height: 500px;
    overflow: hidden;
}

.hero-text {
    position: absolute;
    left: 15%;
    transform: translate(-50%, -50%);
}
.hero-text button {
    font-size: 29px;
    color: white;
    margin-top: 1300px;
    padding: 25px;
    padding-left: 55px;
    padding-right: 55px;
    border-radius: 50px;
    border-color: white;
    background-color: #282828;
}

header nav ul li:hover,
header nav ul li:hover a,
header nav ul li:hover br,
header nav ul li:hover u {
    color: #FF8C00;
    transition: color 0.3s ease;
    border-bottom: 3px solid #FF8C09;
}


/*блок с кругами*/
.bz-content, .bz-border{
    justify-content: center;
    align-items: center; 
    padding: 50px;
    font-family: Segoe UI;
}

.photo {    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    padding: 20px;
}

.names {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
}

.names nav ul {
    list-style: none;
}

.names nav li {
    font-size: 34px;
    padding-left: 100px;
    padding-right: 25px;
    width: 350px;
}

.circle {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center; 
    width: 250px;
    height: 250px;
    background: #BFE142;
    -moz-border-radius: 125px;
    -webkit-border-radius: 125px;
    border-radius: 125px;
    margin: 0 5px; 
    margin-left: 130px;
    margin-right: 130px;
    -webkit-animation: FadeIn 4s linear; 
    -webkit-animation-fill-mode:both;
}

.rotate {
    animation: 7s linear rotate;
}

.circle image {
    display: block;
    max-width: 100%;
    max-height: 100%; 
}

@keyframes rotate {
    from {
      transform: rotateX(0deg);
    }
  
    to {
      transform: rotateY(360deg);
    }
  }

@-webkit-keyframes FadeIn { 
    0% { opacity:0; -webkit-transform:scale(.1);}
    21.25% {opacity:1; -webkit-transform:scale(1.05);}
    25% {-webkit-transform:scale(1); }
}

.circle.one {
    animation-delay: 1.5s;
}

.circle.two {
    animation-delay: 3s;
}

.circle.three {
    animation-delay: 4.5s;
}

.circle.four {
    animation-delay: 6s;
}

.circle.five {
    animation-delay: 7.5s;
}

/*программы*/
.product-grid {
    display: grid;
    grid-template-columns: 800px 800px 800px;
    grid-row-gap: 70px;
    margin: 0 auto;
    padding: 100px;
    
}

.programs {
    margin: 0 auto;
    max-width: 2500px;
    font-family: Segoe UI;
    justify-content: center;
    padding-top: 100px;
}

.title {
    font-size: 50px;
}

.list {
    font-size: 25px;
}

.product button {
    font-size: 29px;
    color: red;
    padding: 25px;
    padding-left: 55px;
    padding-right: 55px;
    border-radius: 50px;
    border-color: red;
    background-color: white;
}


/*формы*/
.forms {
    padding: 20px;
    max-width: 2500px;
    background: url(грибы.png) no-repeat;
    background-color: #282828;
    color: white;
    font-family: Segoe UI;
    margin: 0 auto;
}

.bird {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column-1 {
    padding-left: 35px;
    padding-right: 35px;
}

.column-2 {
    padding-left: 35px;
    padding-right: 35px;
}

.forms button {
    font-size: 29px;
    color: white;
    margin-bottom: 100px;
    padding: 25px;
    padding-left: 55px;
    padding-right: 55px;
    border-radius: 50px;
    border-color: white;
    background-color: #282828;
}

.forms h1 {
    padding-bottom: 70px;
    color: #BFE142;
}

.forms p {
    font-size: 23px;
}

label {
    font-size: 23px;
    padding: 10px;
}

.resized {
    color: white;
    width: 550px;
    background-color : #282828;
    border: none;
    border-bottom: 2px solid white;
    }    

textarea {
    resize: none;
    width: 550px;
    height: 190px;
}

input {
    width: 28px; 
    height: 28px;
}

/*подвал*/
.footer {
    display: flex;
    justify-content: center; 
    align-items: center;
    max-width: 2500px;
    background-color: black;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
    font-family: Segoe UI;
}

.footer table {
    width: 70%;
    padding-top: 50px;
}

table tbody tr td {
    vertical-align: top;
    font-size: 24px;
    width: 200px;
    height: 200px;
}